<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-art-web</title>
    <link rel="stylesheet" href="../templates/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">

</head>
<body>
  
     <form class="main-form" action="/ascii-art" method="post" id = "my Form">
        <header class="main-header">
         <h1>Ascii-art-web</h1>
        </header>
     <div class="form">
        <textarea name="text" id="" cols="30" placeholder="Enter your text, select a banner and click submit" rows="10"></textarea>
     </div>
     <div class="btn">
      <select class ="select" name="options" id="select">
         <option value="standard">Standard</option>
         <option value="shadow">Shadow</option>
         <option value="thinkertoy">Thinkertoy</option>
       </select>
        <button class="submit">submit</button>
      </div>
   </form>
</body>
</html>